<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404775449223-kp46k01i0mtp2dooej60aks7sls26m6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404775449223-kp46k01i0mtp2dooej60aks7sls26m6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCgjQnrBsiIV3SPHmpc0SxvT_Tw3BqLmEg</string>
	<key>GCM_SENDER_ID</key>
	<string>404775449223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-22248</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-22248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404775449223:ios:30bdee8d0b5035d487be22</string>
</dict>
</plist>